<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaGestionCommerciale.Properties.Settings.gestion_commercialeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=gestion_commerciale;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>